Checks: "bugprone-*, -bugprone-easily-swappable-parameters, clang-diagnostic-*,clang-analyzer-*,modernize-*,-modernize-use-trailing-return-type,performance-*,readability-*"
WarningsAsErrors: ""
HeaderFilterRegex: ""
CheckOptions:
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: "_"
