[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/smilecraft4/SDL
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/tracy"]
	path = deps/tracy
	url = https://github.com/wolfpld/tracy
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
[submodule "deps/benchmark"]
	path = deps/benchmark
	url = https://github.com/google/benchmark
[submodule "deps/harfbuzz"]
	path = deps/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "deps/freetype"]
	path = deps/freetype
	url = https://github.com/freetype/freetype
